In [3]:
import numpy as np
import pandas as pd

### NYC_W.CSV
### 1. Find Date with Min Temp and Max Temp.
### 2. Find miN Temp with Event (Col) - Sunny, Date for Same
### 3. Find All Dates where Events is NaN

In [4]:
df = pd.read_csv('nyc_weather.csv')

In [5]:
df.info

<bound method DataFrame.info of           EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
0    01/01/16           38        23        52                 30.03
1    01/02/16           36        18        46                 30.02
2    01/03/16           40        21        47                 29.86
3    01/04/16           25         9        44                 30.05
4    01/05/16           20        -3        41                 30.57
5    01/06/16           33         4        35                 30.50
6    01/07/16           39        11        33                 30.28
7    01/08/16           39        29        64                 30.20
8    01/09/16           44        38        77                 30.16
9    01/10/16           50        46        71                 29.59
10   01/11/16           33         8        37                 29.92
11   01/12/16           35        15        53                 29.85
12  1/13/2016           26         4        42                 29.94
13  1/14/2016           30        12        47                 29.95
14  1/15/2016           43        31        62                 29.82
15  1/16/2016           47        37        70                 29.52
16  1/17/2016           36        23        66                 29.78
17  1/18/2016           25         6        53                 29.83
18  1/19/2016           22         3        42                 30.03
19  1/20/2016           32        15        49                 30.13
20  1/21/2016           31        11        45                 30.15
21  1/22/2016           26         6        41                 30.21
22  1/23/2016           26        21        78                 29.77
23  1/24/2016           28        11        53                 29.92
24  1/25/2016           34        18        54                 30.25
25  1/26/2016           43        29        56                 30.03
26  1/27/2016           41        22        45                 30.03
27  1/28/2016           37        20        51                 29.90
28  1/29/2016           36        21        50                 29.58
29  1/30/2016           34        16        46                 30.01
30  1/31/2016           46        28        52                 29.90

    VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover    Events  \
0                10           8.0               0           5       NaN
1                10           7.0               0           3       NaN
2                10           8.0               0           1       NaN
3                10           9.0               0           3       NaN
4                10           5.0               0           0       NaN
5                10           4.0               0           0       NaN
6                10           2.0               0           3       NaN
7                10           4.0               0           8       NaN
8                 9           8.0               T           8      Rain
9                 4           NaN             1.8           7      Rain
10               10           NaN               0           1       NaN
11               10           6.0               T           4       NaN
12               10          10.0               0           0       NaN
13               10           5.0               T           7       NaN
14                9           5.0               T           2       NaN
15                8           7.0            0.24           7      Rain
16                8           6.0            0.05           6  Fog-Snow
17                9          12.0               T           2      Snow
18               10          11.0               0           1       NaN
19               10           6.0               0           2       NaN
20               10           6.0               0           1       NaN
21                9           NaN            0.01           3      Snow
22                1          16.0            2.31           8  Fog-Snow
23                8           6.0               T           3      Snow
24               10           3.0               0           2       NaN
25               10           7.0               0           2       NaN
26               10           7.0               T           3      Rain
27               10           5.0               0           1       NaN
28               10           8.0               0           4       NaN
29               10           7.0               0           0       NaN
30               10           5.0               0           0       NaN

    WindDirDegrees
0              281
1              275
2              277
3              345
4              333
5              259
6              293
7               79
8               76
9              109
10             289
11             235
12             284
13             266
14             101
15             340
16             345
17             293
18             293
19             302
20             312
21              34
22              42
23             327
24             286
25             244
26             311
27             234
28             298
29             257
30             241  >

In [6]:
df.shape

(31, 11)

In [7]:
df.describe

<bound method NDFrame.describe of           EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
0    01/01/16           38        23        52                 30.03
1    01/02/16           36        18        46                 30.02
2    01/03/16           40        21        47                 29.86
3    01/04/16           25         9        44                 30.05
4    01/05/16           20        -3        41                 30.57
5    01/06/16           33         4        35                 30.50
6    01/07/16           39        11        33                 30.28
7    01/08/16           39        29        64                 30.20
8    01/09/16           44        38        77                 30.16
9    01/10/16           50        46        71                 29.59
10   01/11/16           33         8        37                 29.92
11   01/12/16           35        15        53                 29.85
12  1/13/2016           26         4        42                 29.94
13  1/14/2016           30        12        47                 29.95
14  1/15/2016           43        31        62                 29.82
15  1/16/2016           47        37        70                 29.52
16  1/17/2016           36        23        66                 29.78
17  1/18/2016           25         6        53                 29.83
18  1/19/2016           22         3        42                 30.03
19  1/20/2016           32        15        49                 30.13
20  1/21/2016           31        11        45                 30.15
21  1/22/2016           26         6        41                 30.21
22  1/23/2016           26        21        78                 29.77
23  1/24/2016           28        11        53                 29.92
24  1/25/2016           34        18        54                 30.25
25  1/26/2016           43        29        56                 30.03
26  1/27/2016           41        22        45                 30.03
27  1/28/2016           37        20        51                 29.90
28  1/29/2016           36        21        50                 29.58
29  1/30/2016           34        16        46                 30.01
30  1/31/2016           46        28        52                 29.90

    VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover    Events  \
0                10           8.0               0           5       NaN
1                10           7.0               0           3       NaN
2                10           8.0               0           1       NaN
3                10           9.0               0           3       NaN
4                10           5.0               0           0       NaN
5                10           4.0               0           0       NaN
6                10           2.0               0           3       NaN
7                10           4.0               0           8       NaN
8                 9           8.0               T           8      Rain
9                 4           NaN             1.8           7      Rain
10               10           NaN               0           1       NaN
11               10           6.0               T           4       NaN
12               10          10.0               0           0       NaN
13               10           5.0               T           7       NaN
14                9           5.0               T           2       NaN
15                8           7.0            0.24           7      Rain
16                8           6.0            0.05           6  Fog-Snow
17                9          12.0               T           2      Snow
18               10          11.0               0           1       NaN
19               10           6.0               0           2       NaN
20               10           6.0               0           1       NaN
21                9           NaN            0.01           3      Snow
22                1          16.0            2.31           8  Fog-Snow
23                8           6.0               T           3      Snow
24               10           3.0               0           2       NaN
25               10           7.0               0           2       NaN
26               10           7.0               T           3      Rain
27               10           5.0               0           1       NaN
28               10           8.0               0           4       NaN
29               10           7.0               0           0       NaN
30               10           5.0               0           0       NaN

    WindDirDegrees
0              281
1              275
2              277
3              345
4              333
5              259
6              293
7               79
8               76
9              109
10             289
11             235
12             284
13             266
14             101
15             340
16             345
17             293
18             293
19             302
20             312
21              34
22              42
23             327
24             286
25             244
26             311
27             234
28             298
29             257
30             241  >

In [8]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [9]:
df.keys

<bound method NDFrame.keys of           EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
0    01/01/16           38        23        52                 30.03
1    01/02/16           36        18        46                 30.02
2    01/03/16           40        21        47                 29.86
3    01/04/16           25         9        44                 30.05
4    01/05/16           20        -3        41                 30.57
5    01/06/16           33         4        35                 30.50
6    01/07/16           39        11        33                 30.28
7    01/08/16           39        29        64                 30.20
8    01/09/16           44        38        77                 30.16
9    01/10/16           50        46        71                 29.59
10   01/11/16           33         8        37                 29.92
11   01/12/16           35        15        53                 29.85
12  1/13/2016           26         4        42                 29.94
13  1/14/2016           30        12        47                 29.95
14  1/15/2016           43        31        62                 29.82
15  1/16/2016           47        37        70                 29.52
16  1/17/2016           36        23        66                 29.78
17  1/18/2016           25         6        53                 29.83
18  1/19/2016           22         3        42                 30.03
19  1/20/2016           32        15        49                 30.13
20  1/21/2016           31        11        45                 30.15
21  1/22/2016           26         6        41                 30.21
22  1/23/2016           26        21        78                 29.77
23  1/24/2016           28        11        53                 29.92
24  1/25/2016           34        18        54                 30.25
25  1/26/2016           43        29        56                 30.03
26  1/27/2016           41        22        45                 30.03
27  1/28/2016           37        20        51                 29.90
28  1/29/2016           36        21        50                 29.58
29  1/30/2016           34        16        46                 30.01
30  1/31/2016           46        28        52                 29.90

    VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover    Events  \
0                10           8.0               0           5       NaN
1                10           7.0               0           3       NaN
2                10           8.0               0           1       NaN
3                10           9.0               0           3       NaN
4                10           5.0               0           0       NaN
5                10           4.0               0           0       NaN
6                10           2.0               0           3       NaN
7                10           4.0               0           8       NaN
8                 9           8.0               T           8      Rain
9                 4           NaN             1.8           7      Rain
10               10           NaN               0           1       NaN
11               10           6.0               T           4       NaN
12               10          10.0               0           0       NaN
13               10           5.0               T           7       NaN
14                9           5.0               T           2       NaN
15                8           7.0            0.24           7      Rain
16                8           6.0            0.05           6  Fog-Snow
17                9          12.0               T           2      Snow
18               10          11.0               0           1       NaN
19               10           6.0               0           2       NaN
20               10           6.0               0           1       NaN
21                9           NaN            0.01           3      Snow
22                1          16.0            2.31           8  Fog-Snow
23                8           6.0               T           3      Snow
24               10           3.0               0           2       NaN
25               10           7.0               0           2       NaN
26               10           7.0               T           3      Rain
27               10           5.0               0           1       NaN
28               10           8.0               0           4       NaN
29               10           7.0               0           0       NaN
30               10           5.0               0           0       NaN

    WindDirDegrees
0              281
1              275
2              277
3              345
4              333
5              259
6              293
7               79
8               76
9              109
10             289
11             235
12             284
13             266
14             101
15             340
16             345
17             293
18             293
19             302
20             312
21              34
22              42
23             327
24             286
25             244
26             311
27             234
28             298
29             257
30             241  >

In [10]:
df.head

<bound method NDFrame.head of           EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
0    01/01/16           38        23        52                 30.03
1    01/02/16           36        18        46                 30.02
2    01/03/16           40        21        47                 29.86
3    01/04/16           25         9        44                 30.05
4    01/05/16           20        -3        41                 30.57
5    01/06/16           33         4        35                 30.50
6    01/07/16           39        11        33                 30.28
7    01/08/16           39        29        64                 30.20
8    01/09/16           44        38        77                 30.16
9    01/10/16           50        46        71                 29.59
10   01/11/16           33         8        37                 29.92
11   01/12/16           35        15        53                 29.85
12  1/13/2016           26         4        42                 29.94
13  1/14/2016           30        12        47                 29.95
14  1/15/2016           43        31        62                 29.82
15  1/16/2016           47        37        70                 29.52
16  1/17/2016           36        23        66                 29.78
17  1/18/2016           25         6        53                 29.83
18  1/19/2016           22         3        42                 30.03
19  1/20/2016           32        15        49                 30.13
20  1/21/2016           31        11        45                 30.15
21  1/22/2016           26         6        41                 30.21
22  1/23/2016           26        21        78                 29.77
23  1/24/2016           28        11        53                 29.92
24  1/25/2016           34        18        54                 30.25
25  1/26/2016           43        29        56                 30.03
26  1/27/2016           41        22        45                 30.03
27  1/28/2016           37        20        51                 29.90
28  1/29/2016           36        21        50                 29.58
29  1/30/2016           34        16        46                 30.01
30  1/31/2016           46        28        52                 29.90

    VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover    Events  \
0                10           8.0               0           5       NaN
1                10           7.0               0           3       NaN
2                10           8.0               0           1       NaN
3                10           9.0               0           3       NaN
4                10           5.0               0           0       NaN
5                10           4.0               0           0       NaN
6                10           2.0               0           3       NaN
7                10           4.0               0           8       NaN
8                 9           8.0               T           8      Rain
9                 4           NaN             1.8           7      Rain
10               10           NaN               0           1       NaN
11               10           6.0               T           4       NaN
12               10          10.0               0           0       NaN
13               10           5.0               T           7       NaN
14                9           5.0               T           2       NaN
15                8           7.0            0.24           7      Rain
16                8           6.0            0.05           6  Fog-Snow
17                9          12.0               T           2      Snow
18               10          11.0               0           1       NaN
19               10           6.0               0           2       NaN
20               10           6.0               0           1       NaN
21                9           NaN            0.01           3      Snow
22                1          16.0            2.31           8  Fog-Snow
23                8           6.0               T           3      Snow
24               10           3.0               0           2       NaN
25               10           7.0               0           2       NaN
26               10           7.0               T           3      Rain
27               10           5.0               0           1       NaN
28               10           8.0               0           4       NaN
29               10           7.0               0           0       NaN
30               10           5.0               0           0       NaN

    WindDirDegrees
0              281
1              275
2              277
3              345
4              333
5              259
6              293
7               79
8               76
9              109
10             289
11             235
12             284
13             266
14             101
15             340
16             345
17             293
18             293
19             302
20             312
21              34
22              42
23             327
24             286
25             244
26             311
27             234
28             298
29             257
30             241  >

In [11]:
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,01/01/16,38,23,52,30.03,10,8.0,0,5,NaN,281
1,01/02/16,36,18,46,30.02,10,7.0,0,3,NaN,275
2,01/03/16,40,21,47,29.86,10,8.0,0,1,NaN,277
3,01/04/16,25,9,44,30.05,10,9.0,0,3,NaN,345
4,01/05/16,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [12]:
df["Temperature"]

0     38
1     36
2     40
3     25
4     20
5     33
6     39
7     39
8     44
9     50
10    33
11    35
12    26
13    30
14    43
15    47
16    36
17    25
18    22
19    32
20    31
21    26
22    26
23    28
24    34
25    43
26    41
27    37
28    36
29    34
30    46
Name: Temperature, dtype: int64

In [13]:
df[22:]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [14]:
df[df.Temperature == min(df.Temperature)].EST

4    01/05/16
Name: EST, dtype: object

In [15]:
df[df.Temperature == max(df.Temperature)].EST

9    01/10/16
Name: EST, dtype: object

In [16]:
df.Events

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8         Rain
9         Rain
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15        Rain
16    Fog-Snow
17        Snow
18         NaN
19         NaN
20         NaN
21        Snow
22    Fog-Snow
23        Snow
24         NaN
25         NaN
26        Rain
27         NaN
28         NaN
29         NaN
30         NaN
Name: Events, dtype: object

In [17]:
df.Events.unique()

array([nan, 'Rain', 'Fog-Snow', 'Snow'], dtype=object)

In [20]:
df[(df.Events != "Rain") & (df.Events != "Fog-Snow") & (df.Events != "Snow")].EST

0      01/01/16
1      01/02/16
2      01/03/16
3      01/04/16
4      01/05/16
5      01/06/16
6      01/07/16
7      01/08/16
10     01/11/16
11     01/12/16
12    1/13/2016
13    1/14/2016
14    1/15/2016
18    1/19/2016
19    1/20/2016
20    1/21/2016
24    1/25/2016
25    1/26/2016
27    1/28/2016
28    1/29/2016
29    1/30/2016
30    1/31/2016
Name: EST, dtype: object

In [23]:
df[(df.Events.isnull())].EST

0      01/01/16
1      01/02/16
2      01/03/16
3      01/04/16
4      01/05/16
5      01/06/16
6      01/07/16
7      01/08/16
10     01/11/16
11     01/12/16
12    1/13/2016
13    1/14/2016
14    1/15/2016
18    1/19/2016
19    1/20/2016
20    1/21/2016
24    1/25/2016
25    1/26/2016
27    1/28/2016
28    1/29/2016
29    1/30/2016
30    1/31/2016
Name: EST, dtype: object